/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul, li{
    list-style: none;
}
img{
    width: 100px;
}
h2{
    font-size: 1.7rem;
}
a{
    color: black;
}
p{
    width: 100%;
    color: var(--grayish-blue);
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
/* BODY */
body, html{
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    position: relative;
    z-index: -5;
}
/* VARIABLES */
:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

.grid{
    display: grid;
}

/* BUTTON */
.button{
    width: 50%;
    color: white;
    background-color: var(--soft-blue);
    border-radius: 0.4rem;
    padding: 0.8rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.185);
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
}
.header ul li .btn-red:hover, .contact .btn-red:hover{
    background-color: white;
    color: var(--soft-red);
    border: 1px solid var(--soft-red);
}
/* HEADER */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.header.scroll{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}
.header img{
    width: 160px;
    height: 25px;
}
.header ul{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: hsla(229, 31%, 21%, 0.900);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}
.header ul img{
    width: 150px;
    align-self: flex-start;
    margin-bottom: 2.5rem;
}
.header ul li{
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-size: 1.3rem;
    border-top: 0.1px solid hsla(229, 8%, 60%, 0.321);
    border-bottom: 0.1px solid hsla(229, 8%, 60%, 0.321);
    padding: 1.4rem;
}
.header ul #li4{
    padding: 0;
    border: none;
}
.header ul li a{
    color: hsl(240, 16%, 89%);
    letter-spacing: 0.3rem;
}
.header ul li .button{
    background-color: transparent;
    border: 1px solid white;
    margin: 0 auto;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1.5rem;
}
.header ul .icon-container{
    position: absolute;
    bottom: 0;
}
.header ul  .icon-container img{
    width: 25px;
}
.header ul  .icon-container img + img{
    margin-left: 1.5rem;
}

/* linha de navegacao */
.header .icon{
    width: 30px;
    height: 15px;
    position: relative;
}
.header .icon .line{
    display: block;
    background-color: black;
    width: 100%;
    height: 3px;
    border-radius: 1rem;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    position: absolute;
}
.header .icon .line1{
    top: 0;
}
.header .icon .line2{
    top: 55%;
}
.header .icon .line3{
    top: 100%;
}
.header .icon.close .line1{
    background-color: white;
    z-index: 20;
    transform: rotate(45deg);
    top: 48%;
}
.header .icon.close .line2{
    display: none;
}
.header .icon.close .line3{
    background-color: white;
    z-index: 20;
    transform: rotate(132deg);
    top: 48%;
}

/* MANAGER */
.manager{
    margin-bottom: 6rem;
    margin-top: 9rem;
}
.manager .img-container{
    width: 80%;
    max-width: 400px;
    height: 230px;
    background-color: var(--soft-blue);
    margin-left: auto;
    border-radius: 15rem 0 0 15rem;
    position: relative;
}
.manager .img-container img{
    width: 100%;
    min-width: 370px;
    max-width: 550px;
    position: absolute;
    top: -12%;
    left: -26%;
}
.manager .text{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    padding: 0 2.5rem;
}
.manager .text p{
    margin: 1.5rem 0;
}
.manager .text .button{
    width: 150px;
    display: inline-block;
    font-size: 0.9rem;
    text-align: center;
}
.manager .text .button + .button{
    margin-left: 1rem;
}
.manager .text .firefox{
    background-color: white;
    color: black;
}

/* FEATURES */
.features{
    margin: 0 auto;
}
.features .text{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 6rem;
}
.features .text p{
    margin: 1.5rem 0;
}
.features .text .select{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border: 0.01px solid var(--grayish-blue);
    border-left: none;
    border-right: none;
    position: relative;
}
.features .text #select1.click::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 5px;
    background: var(--soft-red);
    bottom: -1px;
    left: 27%;   
}
.features .text #select2.click::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 5px;
    background: var(--soft-red);
    bottom: -1px;
    left: 27%;  
}
.features .text #select3.click::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 5px;
    background: var(--soft-red);
    bottom: -1px;
    left: 27%;  
}
.features .info .img-container{
    width: 80%;
    max-width: 450px;
    height: 230px;
    background-color: var(--soft-blue);
    margin-right: auto;
    border-radius: 0 15rem 15rem 0;
    position: relative;
}
.features .info .img-container img{
    width: 100%;
    min-width: 370px;
    max-width: 550px;
    position: absolute;
    top: -16%;
    right: -15%;
}
.features .info .text-2{
    max-width: 500px;
    margin: 2rem auto;
    margin-bottom: 7rem;
    text-align: center;
    padding: 0 4rem;
}
.features .info .text-2 h2{
    margin: 1rem 0;
}

/* DOWMLOAD */
.download{
    text-align: center;
}
.download .text{
    max-width: 550px;
    padding: 0 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.download .text p{
    margin: 1rem 0;
}
.download .cards{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    gap: 3rem;
}
.download .cards .card{
    max-width: 250px;
    padding: 3rem 0;
    padding-bottom: 1rem;
    border-radius: 0.4rem;
    box-shadow: 1px 4px 7px rgba(137, 137, 230, 0.185);
}
.download .cards .card .dots{
    width: 100%;
    height: 4px;
    margin: 1rem 0;
}
.download .cards .card .button{
    width: 200px;
    margin: 0 auto;
}
/* ASKS */
.asks{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 7rem;
}
.asks .text{
    text-align: center;
    padding: 0 2rem;
    margin: 5rem 0;
}
.asks .questions{
    padding: 0 3rem;
}
.asks .questions .ask-text{
    margin: 2rem 0;
}
.asks .questions .ask-text h2{
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}
.asks .questions .ask-text h2:hover{
    color: var(--soft-red);
    cursor: pointer;
}
.asks .questions .ask-text h2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--grayish-blue);
    bottom: -15px;
}
.asks .questions .ask-text h2.show::before{
    display: none;
}
.asks .questions .ask-text p{
    display: none;
    margin-top: 1.5rem;
}
/* ROSE ICON */
.asks .questions .ask-text h2 .icon-container{
    width: 20px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 10px;
}
.asks .questions .ask-text h2 .icon-container .icon{
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--soft-blue);
    color: var(--soft-blue);
    transform: rotate(45deg);
    border-radius: 0.5rem;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.25s;
}
.asks .questions .ask-text h2 .icon-container .rose-icon2{
    transform: rotate(-45deg);
    left: 28%;
}
.asks .questions .ask-text h2.show .icon-container .rose-icon{
    transform: rotate(-45deg);
    background-color: var(--soft-red);
}
.asks .questions .ask-text h2.show .icon-container .rose-icon2{
    transform: rotate(45deg);
    left: 28%;
    background-color: var(--soft-red);
}
.asks .questions .button{
    margin: 0 auto;
    width: 100px;
    text-align: center;
}

/* CONTACT */
.contact{
    background: var(--soft-blue);
    text-align: center;
    color: white;
    position: relative;
    z-index: -2;
}
.contact .container{
    min-width: 340px;
    max-width: 550px;
    margin: 0 auto;
    padding: 4rem 3rem;
    position: relative;
    z-index: -1;
}
.contact strong{
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
    margin-bottom: 0.8rem;
}
.contact h2{
    max-width: 370px;
    font-size: 1.5rem;
    position: relative;
    margin: 0 auto;
}
.contact input{
    margin-top: 1.3rem;
    width: 99%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 0.4rem;
}
.contact p{
    display: none;
    color: white;
    max-width: 457px;
    height: 75px;
    background: var(--soft-red);
    text-align: left;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 7rem;
    position: relative;
    top: 45%;
    z-index: -1;
    margin-top: -2.75rem;
}
.contact h2 #img-error{
    display: none;
    width: 20px;
    position: absolute;
    bottom: -85%;
    right: 7%;
}
.contact .button{
    width: 100%;
    background: var(--soft-red);
    margin-top: 1rem;
}

/* FOOTER */
.footer{
    background: var(--very-dark-blue);
    text-align: center;
    padding: 2rem 0;
}
.footer #logo{
    width: 150px;
    margin-bottom: 1rem;
}
.footer ul li a{
    color: white;
}
.footer ul li a:hover{
    color: var(--soft-red);
    cursor: pointer;
}
.footer ul li + li{
    margin-top: 1rem;
}
.footer .icon-container{
    margin-top: 2rem;
}
.footer .icon-container img{
    width: 25px;
}
.footer .icon-container img + img{
    margin-left: 1.5rem;
}

/* MEDIA-QUERIES */
@media  screen and (min-width: 470px) {
    .manager .img-container {
        height: 300px;
    }
    .manager .img-container img{
        min-width: 450px;
        max-width: 550px;
    }
    .features .info .img-container{
        height: 300px;
    }
    .features .info .img-container img{
        min-width: 450px;
        max-width: 550px;
    }
}
@media screen and (min-width: 488px){
    
    .download .cards .card3{
        grid-column: 1 / 3;
    }
}
@media screen and (min-width: 700px){
    
    h2{
        font-size: 2rem;
    }

    .header{
        padding-right: 2rem;
    }
    .header .icon{
        display: none;
    }
    .header ul{
        position: static;
        width: 500px;
        height: 30px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .header ul img, .header ul .icon-container{
        display: none;
    }
    .header ul li{
        display: inline-block;
        width: 80px;
        font-size: 0.8rem;
        border: none;
        padding: 0;
        margin-left: 1.3rem;
        line-height: -3px;
    }
    .header ul li a{
        color: black;
        letter-spacing: inherit;
    }
    .header ul li .button{
        width: 100%;
        background-color: var(--soft-red);
        text-align: center;
        padding: 0.6rem 1rem;
        margin: 0;
        margin-top: -2px;
        border: none;
        font-size: 1rem;
    }

    .manager{
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 11rem;
        grid-template-areas: 
        "text img";
        grid-template-columns: 400px 1fr;
    }

    .manager .text{
        max-width: 400px;
        grid-area: text;
        margin: 0;
        margin-left: auto;
        text-align: left;
        padding-right: 0;
        align-self: center;
    }
    .manager .img-container{
        grid-area: img;
    }

    .features{
        max-width: 1000px;
        margin-top: 8rem;
    }
    .features .text{
        margin-bottom: 9rem;
    }
    .features .text .select{
        width: 150px;
        border: none;
        display: inline-block;
        padding: 0;
        font-size: 0.9rem;
        position: relative;
    }
    .features .text .select::before{
        content: "";
        position: absolute;
        width: 124%;
        height: 1px;
        background: var(--grayish-blue);
        bottom: -25px;
        left: -20px;
    }
    .features .text #select1.click::before{
        width: 180px;
        left: -20px;
        bottom: -26px;
    }
    .features .text #select2.click::before{
        width: 180px;
        left: -20px;
        bottom: -26px;
    }
    .features .text #select3.click::before{
        width: 180px;
        left: -20px;
        bottom: -26px;
    }
    .features .info{
        grid-template-areas: 
        "img text";
        grid-template-columns: 1fr 400px;
    }

    .features .info .text-2{
        max-width: 400px;
        grid-area: text;
        margin: 0;
        text-align: left;
        padding-right: 0;
    }
    .features .info .img-container{
        grid-area: img;
    }
    .download{
        margin-top: 12rem;
    }
    .download .cards{
        max-width: 800px;
        height: 360px;
        gap: 1rem;
        margin: 0 auto;
    }
    .download .cards .card{
        height: 300px;
    }
    .download .cards .card1{
        align-self: start;
    }
    .download .cards .card2{
        align-self: center;
    }
    .download .cards .card3{
        align-self: end;
        grid-column: auto;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;   
    }
    .footer #logo{
        margin: 0;
    }
    .footer ul{
        height: 19px;
    }
    .footer ul li{
        display: inline-block;
    }
    .footer ul li + li{
        margin: 0;
        margin-left: 1.2rem;
    }
    .footer .icon-container{
        margin: 0;
    }
    .asks{
        margin-top: 7rem;
    }
    .contact input{
        width: 250px;
        display: inline-block;
        margin-right: 1rem;
    }
    .contact p{
        display: none;
        width: 254px;
        margin: 0;
        position: absolute;
        top: 170px;
        left: 64px;
    }
    .contact h2 #img-error{
        width: 20px;
        position: absolute;
        right: 45%;
    }
    .contact .button{
        width: 150px;
        height: 41px;
        display: inline-block;
    }
}
@media screen and (min-width: 1000px){
    .manager .text{
        padding: 0;
    }
    .manager .img-container{
        margin-left: 20rem;
        min-width: 150%;
        height: 350px;
    }
    .features .info .text{
        padding: 0;
    }
    .features .info .img-container{
        margin-left: -30rem;
        min-width: 150%;
        height: 350px;
    }
}